/* .filterContainer {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 24px; 
    padding: 28px 28px 40px 28px; 
    background-color: #E3E3E1; 
    border: 1px solid #eaeaea;
    border-radius: 8px;
} */
/* 
.title {
    width: 100%; 
    font-size: 1.25rem; 
    font-weight: 600;
    color: #333;
    margin: 0 0 24px 0; 
} */

/* .filterGroup {
    display: flex;
    align-items: center;
} */

.filterLabel {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-right: 12px;
    white-space: nowrap; 
}

.filterInput,
.filterSelect {
    padding: 8px 12px;
    font-size: 14px;
    border: none; /* ◀◀ 1px solid #ccc 에서 'none'으로 수정 */
    border-radius: 4px;
    min-width: 180px;
}

.filterInput[type="date"]:invalid {
    color: #757575;
}

.searchButton {
    padding: 8px 24px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #663D2B; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto; 
    transition: background-color 0.2s;
}

.searchButton:hover {
    background-color: #503021; 
}