/* insert-font */
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
* {font-family: 'NanumSquareRound', sans-serif; font-size: 16px;}
.SideBar-wrap {
    position: fixed;
    top: 5.5rem;
    left: 0;
    width: 21rem;
    height: 100%;
    background-color: #E3E3E1;
}